$brand-primary:             #0079C1;
$brand-success:             #00b479;
$brand-info:                #0cb6c0;
$brand-warning:             #fdb515;
$brand-danger:              #ba2025;

$brand-primary-light:       #b7e0fa;
$brand-success-light:       #8fe8bd;
$brand-info-light:          #b7f7fa;
$brand-warning-light:       #fdd982;
$brand-danger-light:        #fac8b7;

$font-size-h1:              2rem;
$font-size-h2:              1.75rem;
$font-size-h3:              1.5rem;
$font-size-h4:              1.35rem;
$font-size-h5:              1.15rem;
$font-size-h6:              1rem;
