{
    "swagger": "2.0",
    "info": {
        "title": "Mapping",
        "description": "The Mapping Service API",
        "version": "0.0.0",
        "contact": {
            "name": "Backend BoF",
            "email": "backend@aweber.net",
            "url": "https://github.aweber.io/platform/mapping/issues"
        }
    },
    "externalDocs": {
        "description": "Service Specification",
        "url": "https://confluence.aweber.io/display/AR/Mapping+Service"
    },
    "host": "mapping.development",
    "schemes": [
        "http",
        "https"
    ],
    "basePath": "/",
    "produces": [
        "application/json",
        "application/msgpack"
    ],
    "parameters": {
        "Correlation-ID": {
            "name": "Correlation-ID",
            "in": "header",
            "description": "An identifier that is used to correlate the request with logs generated by other services and applications.",
            "type": "string",
            "required": false,
            "pattern": "[\\-\\w]{32,36}",
            "format": "uuid"
        }
    },
    "responses": {
        "Deleted": {
            "description": "The mapping has been deleted"
        },
        "Found": {
            "description": "Success",
            "schema": {
                "$ref": "#/definitions/mapping"
            },
            "headers": {
                "Cache-Control": {
                    "description": "Provides caching instructions for the returned data",
                    "type": "string"
                }
            }
        },
        "NotFound": {
            "description": "The mapping was not found"
        },
        "RateLimited": {
            "description": "The request has been rate limited"
        }
    },
    "paths": {
        "/{Type}/{Value}": {
            "get": {
                "description": "Retrieve a mapping by type and value.",
                "summary": "Retrieve a Mapping",
                "responses": {
                    "200": {
                        "$ref": "#/responses/Found"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    },
                    "429": {
                        "$ref": "#/responses/RateLimited"
                    }
                }
            },
            "delete": {
                "summary": "Delete a Mapping",
                "description": "Delete the specified mapping by type and value.",
                "responses": {
                    "204": {
                        "$ref": "#/responses/Deleted"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    },
                    "429": {
                        "$ref": "#/responses/RateLimited"
                    }
                }
            },
            "parameters": [
                {
                    "name": "Type",
                    "in": "path",
                    "description": "The mapping type",
                    "required": true,
                    "type": "string",
                    "enum": [
                        "account",
                        "broadcast",
                        "followup",
                        "list",
                        "subscriber"
                    ]
                },
                {
                    "name": "Value",
                    "in": "path",
                    "description": "The numeric legacy ID value",
                    "required": true,
                    "type": "integer"
                },
                {
                    "$ref": "#/parameters/Correlation-ID"
                }
            ]
        },
        "/{Id}": {
            "get": {
                "description": "Retrieve a mapping by UUID value.",
                "summary": "Retrieve a Mapping",
                "responses": {
                    "200": {
                        "$ref": "#/responses/Found"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    },
                    "429": {
                        "$ref": "#/responses/RateLimited"
                    }
                }
            },
            "put": {
                "description": "Store a pre-defined mapping",
                "summary": "Store a Mapping",
                "consumes": [
                    "application/json",
                    "application/msgpack"
                ],
                "responses": {
                    "200": {
                        "description": "Successfully stored the mapping",
                        "schema": {
                            "$ref": "#/definitions/mapping"
                        }
                    },
                    "429": {
                        "$ref": "#/responses/RateLimited"
                    }
                },
                "parameters": [
                    {
                        "name": "mapping",
                        "description": "Mapping data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mapping"
                        }
                    }
                ]
            },
            "delete": {
                "description": "Delete a mapping by UUID",
                "summary": "Delete a Mapping",
                "responses": {
                    "204": {
                        "$ref": "#/responses/Deleted"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    },
                    "429": {
                        "$ref": "#/responses/RateLimited"
                    }
                }
            },
            "parameters": [
                {
                    "name": "Id",
                    "description": "Mapped UUID",
                    "required": true,
                    "in": "path",
                    "type": "string",
                    "pattern": "[\\-\\w]{32,36}",
                    "format": "uuid"
                },
                {
                    "$ref": "#/parameters/Correlation-ID"
                }
            ]
        }
    },
    "definitions": {
        "mapping": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "A UUID based ID that represents the item in the platform architecture",
                    "pattern": "[\\-\\w]{32,36}",
                    "format": "uuid"
                },
                "created_at": {
                    "type": "string",
                    "description": "The ISO-8601 formatted timestamp that represents when the mapping was created.",
                    "format": "dateTime"
                },
                "type": {
                    "type": "string",
                    "description": "The mapping type",
                    "enum": [
                        "account",
                        "broadcast",
                        "followup",
                        "list",
                        "subscriber"
                    ]
                },
                "value": {
                    "type": "integer",
                    "description": "The numeric legacy ID value",
                    "format": "long"
                }
            },
            "required": [
                "id",
                "created_at",
                "type",
                "value"
            ]
        }
    }
}
